rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function doesUserHavePermission(uid) {
      return request.auth != null && uid == request.auth.uid
    }
    match /appData/tables/{uid}/{docId} {
      allow read, write: if doesUserHavePermission(uid);
    }
  }
}
