<div class="text-black flex flex-col w-[60%] align-center">
  <div class="flex">
    <input type="file" (change)="fileChangeEvent($event)" />
    <button mat-flat-button (click)="onUpload()">upload to storage</button>
    <!--    <img-->
    <!--      [src]="selectedImage"-->
    <!--      class="border-red-600"-->
    <!--      *ngIf="selectedImage"-->
    <!--      alt=""-->
    <!--    />-->
  </div>

  <div>
    <image-cropper
      style="width: 500px; height: 400px"
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="1"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"
    >
    </image-cropper>
    <!--    <img [src]="croppedImage" alt="" />-->
  </div>
</div>
