<div class="p-4 w-full">
  <div
    *ngIf="!displaySignInForm; else emailSignUpForm"
    class="flex flex-col"
  >
    <button mat-flat-button (click)="signIn('google')">
      <mat-icon svgIcon="google-icon"></mat-icon>
      Sign Up With Google
    </button>
    <button
      class="mt-2 justify-center"
      mat-flat-button
      (click)="signIn('email')"
    >
      <mat-icon>email</mat-icon>
      Sign Up With Email
    </button>
  </div>
</div>

<ng-template #emailSignUpForm>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div>
      <div class="flex justify-between w-full">
        <label for="email">Email</label>
        <input class="ml-2" type="email" id="email" formControlName="email" />
      </div>
      <div
        *ngIf="f.email.invalid && (f['email'].dirty || f['email'].touched)"
        class="error-message"
      >
        <div *ngIf="f.email.errors">Email is required.</div>
        <div *ngIf="f['email'].errors">Invalid email format.</div>
      </div>
    </div>

    <div class="mt-2">
      <div class="flex w-full justify-between">
        <label for="password">Password</label>
        <input
          class="ml-2"
          type="password"
          id="password"
          formControlName="password"
        />
      </div>
      <div
        *ngIf="
          f['password'].invalid &&
          (f['password'].dirty || f['password'].touched)
        "
        class="error-message"
      >
        <div *ngIf="f['password'].errors">Password is required.</div>
        <div *ngIf="f['password'].errors">
          Password must be at least 6 characters.
        </div>
      </div>
    </div>
    <div class="mt-2">
      <label for="confirmPassword">Confirm Password</label>
      <input
        class="ml-2"
        type="password"
        id="confirmPassword"
        formControlName="confirmPassword"
      />
      <div
        *ngIf="
          f['confirmPassword'].invalid &&
          (f['confirmPassword'].dirty || f['confirmPassword'].touched)
        "
        class="error-message"
      >
        <div *ngIf="f['confirmPassword'].errors">Password is required.</div>
        <div *ngIf="f['confirmPassword']?.errors?.['passwordMismatch']">
          Password mismatched.
        </div>
      </div>
    </div>

    <div class="flex justify-between w-full mt-2">
      <button (click)="displaySignInForm = false" mat-flat-button>
        Cancel
      </button>
      <button mat-flat-button type="submit" [disabled]="signUpForm.invalid">
        Sign Up
      </button>
    </div>
  </form>
</ng-template>
