<div class="h-max p-4">
  <h3 class="text-gray-300">
    Enter your the email address that is associated with your account:
  </h3>
  <form (ngSubmit)="redirectToPasswordResetPage()">
    <mat-form-field class="w-[60%]">
      <input matInput type="email" [formControl]="emailForm" />
      <mat-error *ngIf="emailForm.errors?.['email']"
        >please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailForm.errors?.['required']"
        >email address is required
      </mat-error>
    </mat-form-field>
    <div class="flex w-full justify-end">
      <button
        class="ml-4"
        id="cancel-deletion"
        mat-flat-button
        (click)="closeDialog()"
      >
        No
      </button>
      <button
        color="primary"
        type="submit"
        class="ml-4"
        id="confirm-deletion"
        mat-flat-button
      >
        Yes
      </button>
    </div>
  </form>
</div>
