<mat-toolbar class="bg-green-600 flex justify-between">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <div class="font-light hover:cursor-pointer" (click)="redirectMethod('/')">
    {{ "frank zhang" }}
  </div>
  <div
    *ngIf="(currentUser$ | async) === null"
    matTooltip="You'll be able to save your table data after you have logged in."
    class="hover:cursor-pointer font-light text-base"
    (click)="redirectMethod('log-in')"
  >
    {{ "log in" | titlecase }}
  </div>
  <div
    [mat-menu-trigger-for]="userProfileMenu"
    *ngIf="(currentUser$ | async) !== null"
    class="h-10 mr-1 hover:cursor-pointer"
  >
    <img
      class="object-cover h-full rounded-full"
      src="assets/images/anon-profile-pic.jpeg"
      alt=""
    />
  </div>
</mat-toolbar>

<mat-drawer-container autosize class="h-full bg-white">
  <router-outlet></router-outlet>

  <mat-drawer #drawer mode="side" class="drawer">
    <div
      (click)="redirectMethod('/works')"
      class="flex items-center p-4 hover:cursor-pointer"
    >
      <mat-icon>stacked_bar_chart</mat-icon>
      <span class="ml-2">View Past Works</span>
    </div>
  </mat-drawer>
</mat-drawer-container>

<mat-menu #userProfileMenu="matMenu">
  <button mat-menu-item (click)="logOut()">Log Out</button>
</mat-menu>
