<mat-toolbar class="bg-green-600 flex justify-between">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <div class="font-light " (click)="redirectMethod('/')">{{ "WADM Calculator" }}</div>
  <div matTooltip="You'll be able to save your table data after you have logged in."
    class="hover:cursor-pointer font-light text-base" (click)="redirectMethod('log-in')">{{ "log in" | titlecase }}
  </div>
  <!-- <div class="h-10 mr-1 hover:cursor-pointer">
    <img
      class="object-cover h-full rounded-full"
      src="assets/images/anon-profile-pic.jpeg"
      alt=""
    />
  </div> -->
</mat-toolbar>
<router-outlet></router-outlet>