<div class="p-4">
  <iframe
    class="max-w-[100%]"
    width="560"
    height="315"
    src="https://www.youtube.com/embed/HoVONbimbwo"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
<div class="w-full flex justify-end mt-2">
  <button (click)="dismissPermanently()" mat-flat-button class="ml-4">
    Don't show again
  </button>
  <button
    (click)="closeDialog()"
    mat-flat-button
    color="primary"
    class="ml-4"
  >
    Dismiss
  </button>
</div>
