<div class="flex flex-col w-fit">
  <table>
    <thead>
      <tr>
        <th colspan="2"></th>
        <th [colSpan]="columnData.length" class="bg-green-600">{{"options" | titlecase}}</th>
      </tr>
      <tr cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="columnDropMethod($event)">
        <th>{{"criteria" | titlecase}}</th>
        <th>{{"weight" | titlecase}}</th>
        <ng-container *ngFor="let column of columnData">
          <th class="draggable-cell" cdkDrag (mousedown)="$event.stopPropagation();" cdkDragLockAxis="x">
            {{column.columnName| titlecase
            }}</th>
        </ng-container>
        <button class="opacity-40 hover:opacity-100" mat-icon-button color="primary" (click)="addCandidate()">
          <mat-icon>add</mat-icon>
        </button>
      </tr>
    </thead>
    <tbody cdkDropList (cdkDropListDropped)="rowDropMethod($event)">
      <tr cdkDrag *ngFor="let row of tableData; let weightIndex = index;" class="table-row">
        <th class="text-left">{{row.fieldName}}</th>
        <td class="text-center text-blue-600">{{row.fieldWeight}}</td>
        <td class="text-blue-600 text-center w-20" *ngFor="let item of row.fieldValues">
          {{item}}
        </td>
        <!-- <input class="border-solid" *ngFor="let item of row.fieldValues" mat-input title="fuck" label="what-ever"
      type="number"> -->
      </tr>
      <tr>
        <th class="add-criterion" [colSpan]="columnData.length + 2">
          <button (click)="addRow()" class="opacity-40 hover:opacity-100" mat-flat-button color="primary" colspan="5">
            <mat-icon>add</mat-icon>
            {{"add criterion" | titlecase}}
          </button>

        </th>
      </tr>
    </tbody>
    <tfoot>
      <tr *ngIf="displayResults">
        <th colspan="2">{{"results" | titlecase}}</th>
        <td>777</td>
        <td>888</td>
      </tr>
    </tfoot>
  </table>
  <button class="w-60 mt-6" mat-flat-button color="primary" (click)="displayResults=true">{{"calculate" |
    titlecase}}</button>
</div>