input {
    border: solid 1px grey;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}
.draggable-cell {
    background-color: white;
}

.table-row {
    background-color: white;
    width: fit-content;
}