$complementary-color: #a30d64;

input {
    border: solid 1px grey;
}

#add-candidate-btn {
  color: black;
  &:hover {
    background: $complementary-color;
    color: white;
  }
}

#calculate-btn {
  background-color: $complementary-color;
  color: white;
}

#add-criterion-btn {
    background-color: $complementary-color;
}

.highlight {
  border: 2px solid red;
}

th.add-criterion {
    border: none;
    .button-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    div {
        min-width: 400px;
        width: 100%;
    }
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}
.draggable-cell {
    background-color: white;
}

.table-row {
    background-color: white;
    width: fit-content;
}

.add-row-btn {
    background-color: green !important;
}
