<div class="flex flex-col items-center p-4">
  <div>
    {{ (currentUser$ | async)?.displayName ?? (currentUser$ | async)?.email }}
  </div>
  <div class="text-xs flex self-center items-center">
    <mat-icon class="text-base">{{
      currentUserVal?.emailVerified ? "check_circle" : "error"
    }}</mat-icon>
    {{
      currentUserVal?.emailVerified
        ? "Email verified"
        : "Please verify your email"
    }}
  </div>
</div>
<div
  matTooltip="Feature coming soon..."
  (click)="redirectMethod('/settings')"
  class="flex items-center p-4 hover:cursor-pointer nav-menu-item"
>
  <mat-icon>settings</mat-icon>
  <span class="ml-2">Profile Settings</span>
</div>
<div
  (click)="logOut()"
  class="flex items-center p-4 hover:cursor-pointer nav-menu-item"
>
  <mat-icon>logout</mat-icon>
  <span class="ml-2">Logout</span>
</div>
